RewriteEngine On
RewriteRule ^(index|shop|contact|cart|login|register|blogs|account|checkout|wishlist)$ ?page=$1 [NC,L]
RewriteRule ^product/product_id=(\d+)$ ?page=product&product_id=$1 [NC,L]
RewriteRule ^admin/(all_products)$ ?page=$1 [NC,L]
