.page-not-found {
  text-align: center;
  padding: 10rem 0;
  height: 50vh;
}

.page-not-found h4 span {
  font-size: 5rem;
  background: -webkit-linear-gradient(#e85b40, #eb7a65);
  background: linear-gradient(#e85b40, #eb7a65);
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  text-transform: capitalize;
  font-weight: 600;
}

.btn-home {
  padding: 1rem 4rem;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 500;
  color: #fff;
  border-radius: 1rem;
  margin-top: 4rem;
  background: var(--color-secondary);
}
